@model StackOverflowOsc.Web.Models.AccountProfileModel

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<div>
    <h4></h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            <img alt="..." class="img-thumbnail" style="width: 100px; height: 100px">
        </dt>
        <dd>

        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Badges)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Badges)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reputation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reputation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Change Password", "ForgotPasswordRecovery") |
    @Html.ActionLink("Back to List", "Index")
</p>
