@model StackOverflowOsc.Web.Models.ShowQuestionModel

@{
    ViewBag.Title = "ShowQuestion";
}

<h3>@Model.Title</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @using (Html.BeginForm("VotePlus", "Question", new { questId = Model.Id }))
            {
                <button class="btn btn-xs btn-default"><span class="glyphicon glyphicon-thumbs-up"></span></button>
            }
            <label style="text-align: center; margin-left: 65%">@Model.Votes </label>
            @using (Html.BeginForm("VoteLess", "Question", new { questId = Model.Id }))
            {
                <button class="btn btn-xs btn-default"><span class="glyphicon glyphicon-thumbs-down"></span></button>
            }
            <br />
        </dt>
        <dd>
            <h4>@Model.Description</h4>
        </dd>
    </dl>
    <div style="margin-left: 25%; background-color: sienna; width: 200px;">
        Asked @Model.Date
        <br />by
        @Html.ActionLink(Model.Name + " " + Model.LastName, "Profile", "Account", new { ownerId = Model.OwnerId }, null)
        <br />
        Views @Model.Views
    </div>
</div>
<div>
    @{Html.RenderAction("Index", "Answers", new { models = Model.Answers });}
</div>
<p>
    @Html.ActionLink("Answer Question", "CreateAnswer", "Answers",new { questionId = Model.Id }, null)
</p>